.vscode/

venv/
__pycache__/
*.pyc
.DS_Store

.coverage
htmlcov/

cv/data/
ml/data/

# Unzipped poker images dataset & model results
cv/src/dataset/
runs/
yolov8n.pt
yolovv8s.pt
yolov8m.pt
yolov8l.pt
yolov8x.pt
**.zip
